.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
