.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  gap: 5px;
  height: 100vh;
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 8px solid #cce0ff; 
  border-top: 8px solid #1e3a8a; 
  animation: pulseEffect 2s ease-in-out infinite, rotateSpinner 1.5s linear infinite;
}

/* Текст для спінера */
.spinnerText {

  font-size: 14px;
  font-weight: bold;
  color: #1e3a8a;
  animation: textAnimation 2s ease-in-out infinite;
}

/* Анімація пульсації */
@keyframes pulseEffect {
  0% {
    transform: scale(1);
    border-color: #1e3a8a;
  }
  50% {
    transform: scale(1.2); /* Збільшуємо розмір */
    border-color: #a5c9e2; /* Світліший синій колір */
  }
  100% {
    transform: scale(1);
    border-color: #1e3a8a;
  }
}

/* Анімація для обертання спінера */
@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Анімація для тексту */
@keyframes textAnimation {
  0% {
    color: #1e3a8a;
  }
  50% {
    color: #a5c9e2; /* Світліший колір для тексту */
  }
  100% {
    color: #1e3a8a;
  }
}


.logoIcon {
  width: 30px;
  height: 30px;
  
  
}