.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.notFound {
  flex: 1 0 auto;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoLink {
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.logoLink:hover {
  opacity: 0.8;
}
