.button {
  font-family: var(--mainFontFamily);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  line-height: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--black);
  font-weight: 500;
  border-radius: 8px;
  transition:
    color 0.3s ease-in-out,
    transform 0.1s ease,
    box-shadow 0.2s ease,
    background-color 0.3s ease,
    border-color 0.3s ease,
    border-color 0.3s ease;
}

.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--accent);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  fill: var(--white);
}

.button:active {
  background-color: var(--accent-dark);
  border-color: rgba(255, 255, 255, 0);
}

.button:disabled,
.button[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.3;
}

/* Variants */
.button.primary {
  border-color: var(--accent);
  background-color: var(--accent);
  color: var(--white);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-light);
  color: var(--black);
}

.button.primary:active {
  background-color: var(--accent-2);
  color: var(--black);
}

/* Size */
.medium {
  font-size: 10px;
  padding: 4px 10px;
  height: 35px;
}

.large {
  font-size: 16px;
  padding: 6px 12px;
  height: 48px;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
}
