.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    margin-bottom: 40px;
  }
}
