.wrapper {
  /* margin-top: 48px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 48px;
}

.trlBtn {
  /* margin-top: 48px; */
  align-self: center;
  text-align: center;
}
