.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 150%;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px;
  padding-right: 48px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: inherit;
  outline: none;

  transition:
    border-color 200ms ease,
    box-shadow 200ms ease;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.input:focus {
  border-color: #4169e1;
}

.inputError {
  border-color: #b00101;
}

.error {
  display: block;
  margin-top: 6px;

  font-size: 12px;
  line-height: 1.2;
  color: #b00101;
}

.field:focus-within .error {
  display: none;
}

.field:focus-within .inputError {
  border-color: #4169e1;
}

.btn {
  font-size: 16px;
}

.passwordWrapper {
  position: relative;
}

.toggleBtn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #6b7280;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleBtn svg {
  display: block;
}

.icon {
  fill: rgba(0, 0, 0, 0.7);
}

.toggleBtn:focus {
  outline: none;
}

@media (min-width: 1440px) {
  .label {
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
  }
}
