.hero {
  width: 100%;
  background-color: var(--accent-light);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  padding-top: 196px;
  padding-bottom: 331px;

  background-image: image-set(
    url('/images/hero/hero_mob@1x.webp') 1x,
    url('/images/hero/hero_mob@2x.webp') 2x
  );
}

.inner {
  width: 100%;
  max-width: 553px;
}

.title {
  margin: 0 0 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #fff;
}

.title br {
  display: none;
}

.text {
  margin: 0 0 32px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.ctaWrap {
  width: 100%;
}

.ctaWrap :global(a) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctaWrap :global(a).primary {
  font-size: 16px;
  padding: 7.5px 12px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 244px;
    padding-bottom: 117px;

    background-image: image-set(
      url('/images/hero/hero_tabl@1x.webp') 1x,
      url('/images/hero/hero_tabl@2x.webp') 2x
    );
  }

  .title {
    max-width: 612px;
    font-size: 48px;
  }

  .ctaWrap {
    width: auto;
  }

  .ctaWrap :global(a) {
    width: auto;
    display: inline-flex;
  }

  .ctaWrap :global(a).primary {
    font-size: 16px;
    padding: 7.5px 12px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 244px;
    padding-bottom: 347px;

    background-image: image-set(
      url('/images/hero/hero_desk@1x.webp') 1x,
      url('/images/hero/hero_desk@2x.webp') 2x
    );
  }

  .inner {
    max-width: 759px;
  }

  .title {
    max-width: 759px;
    font-size: 56px;
  }

  .title br {
    display: block;
  }

  .text {
    max-width: 759px;
    font-size: 20px;
  }

  .ctaWrap :global(a) {
    width: 115px;
    height: 39px;
  }

  .ctaWrap :global(a).primary {
    font-size: 18px;
    padding: 6px 12px;
  }
}
