@import 'modern-normalize/modern-normalize.css';

:root {
  --white: #fff;
  --dark: #000;
  --text-color: var(--dark);
  --light-bg: #f8f9fa;
  --main-bg: var(--light-bg);
  --accent-light: #e8eeff;
  --accent: #4169e1;
  --mainFontFamily: var(--font-nunito-sans), sans-serif;
  --soraFontFamily: var(--font-sora), sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--mainFontFamily);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--text-color);
  background-color: var(--main-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  font-family: var(--soraFontFamily);
}

h2 {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;

  @media screen and (min-width: 768px) {
    font-size: 44px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 52px;
  }
}
