.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 0 20px;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    max-width: 375px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 64px;
    padding-right: 64px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.center {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
