.tabs {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.tab {
  position: relative;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  cursor: pointer;
}

/* underline */
.tab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transition: background-color 200ms ease;
}

.active::after {
  background-color: rgba(0, 0, 0, 0.15);
}

.tab:hover::after {
  background-color: rgba(0, 0, 0, 0.15);
}

@media (min-width: 1440px) {
  .tab {
    font-size: 18px;
  }
}
