.section {
  padding: 64px 0;
}

.title {
  margin-bottom: 24px;
}

.btn {
  text-align: center;
}

.button {
  font-size: 16px;
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 72px 0;
  }

  .title {
    margin-bottom: 40px;
  }

  .button {
    font-size: 18px;
  }
}
