.main {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  width: 100%;

  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .main {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .title {
    font-size: 48px;
  }
}

@media (min-width: 1440px) {
  .main {
    max-width: 1440px;
    padding: 48px 64px;
    gap: 48px;
  }

  .title {
    font-size: 56px;
  }
}
