.item {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  background-color: var(--accent-light);
  overflow: hidden;
}

.image {
  width: 100%;
}

.wrapper {
  padding: 24px;
}

.info {
  margin-bottom: 24px;
  height: 160px;
  overflow: hidden;
}

.category {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.title {
  font-family: var(--mainFontFamily);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 8px;
  height: 54px;
  overflow: hidden;
}

.article {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.publication {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.photo {
  border-radius: 50%;
}

.name {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
}

.dateSaved {
  display: flex;
  align-items: center;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 8px;
}

.point {
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
  margin-right: 8px;
}

.count {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 2px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttonView {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.buttonAdd {
  padding: 0;
  flex-shrink: 0;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .item {
    width: calc((100% - 24px) / 2);
  }

  .image {
    height: 226px;
  }
}

@media screen and (min-width: 1440px) {
  .item {
    width: calc((100% - 48px) / 3);
  }

  .image {
    height: 280px;
  }

  .info {
    height: 199px;
  }

  .category {
    font-size: 16px;
  }

  .title {
    font-size: 26px;
    height: 78px;
  }

  .article {
    font-size: 18px;
  }

  .photo {
    height: 54px;
    width: 54px;
  }

  .name {
    font-size: 16px;
  }

  .date {
    font-size: 16px;
  }

  .count {
    font-size: 16px;
  }
}
