.stories {
  padding: 32px 0 64px;
}

@media screen and (min-width: 1440px){
  .stories{
padding: 48px 0 72px;
margin-top: 48px;
}
  }



  .main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 32px 0 64px;
}




.notFound {
  flex: 1 0 auto;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoLink {
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.logoLink:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1440px){
 .main{
padding: 48px 0 72px;

}
  }

