.stories__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .stories__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .stories__list {
    margin-bottom: 40px;
  }
}