.about {
  padding-top: 64px;
  padding-bottom: 64px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
}

.lead {
  margin: 0 0 64px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}

.itemTitle {
  margin: 0 0 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #000;
}

.itemText {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

@media screen and (min-width: 768px) {
  .wrapper {
    gap: 64px;
  }

  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
  }

  .title {
    margin: 0;
    font-size: 44px;
  }

  .lead {
    margin: 0;
    padding: 8px 0px 0px;
  }

  .list {
    flex-direction: row;
    gap: 32px;
  }

  .item {
    flex: 1;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .wrapper {
    gap: 64px;
  }

  .left {
    grid-template-columns: 755px 1fr;
  }

  .title {
    max-width: 755px;
    font-size: 52px;
  }

  .lead {
    font-size: 20px;
  }

  .list {
    gap: 48px;
  }

  .icon {
    margin-bottom: 24px;
  }

  .itemTitle {
    margin-bottom: 24px;
    font-size: 32px;
  }

  .itemText {
    font-size: 18px;
  }
}
